<a href="https://colab.research.google.com/github/hevertonvalerio/Ciencia_de_dados_Mackenzie/blob/main/modulo_2/Anota%C3%A7%C3%B5es%20Algoritmo%20e%20Programa%C3%A7%C3%A3o%20II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anotações Algoritmo e Programação II

## Aula 1 - Funções e Procedimentos

**Objetivo da Aula**  
Ao final da aula, você será capaz de construir funções e modularizar o código em Python.

In [47]:
def nome(paramentros):
  comandos

In [48]:
def soma(a,b):
  res = a + b
  return res

x = 1
y = 2

print('soma =', soma(x,y))

soma = 3

Variáveis locais e globais

variaveis globais são as que estão fora da função

```
def f1(a):
  # variáveis locais comandos
  print(a + x)

def f2(a):
  # variáveis locais comandos
  t = 4
  print(a+x+y)

# Variável global
x=10
f1(1)
f2(2)

print(x)

```

In [49]:
def f1(a):
  # variáveis locais comandos
  print(a + x)

def f2(a):
  # variáveis locais comandos
  t = 4
  print(a+x+y)

# Variável global
x=10
f1(1)
f2(2)

print(x)

11
14
10

Aplicando Conhecimento - A1

Uma empresa de Data Warehouse precisa calcular o tempo necessário para fazer o
backup de seus bancos de dados. Para isso, a empresa utiliza um aparelho
específico de backup. Então, você foi contratado(a) para fazer um programa em
Python que calcula o total de horas, minutos e segundos para fazer esse backup e
quantas mídias (unidades de disco) serão necessárias. Os dados de entrada são: a
quantidade de informações a ser copiada, um inteiro - em Megabytes - MB; a
capacidade de armazenamento de uma mídia, um inteiro – também em MB; e a
velocidade de transferência, um inteiro - representando MB por segundo (MB/s), do
aparelho de backup.

>

A partir do descrito, desenvolva UM arquivo Python que contenha:   
a) Uma única função que calcula e retorna quantas horas, minutos e segundos
serão necessárias para fazer o backup;    
b) Uma função que calcula e retorna quantas unidades de mídia necessárias
para armazenar o backup;   
c) Um procedimento principal, com o nome principal() e sem parâmetros, que lê
os dados de entrada, utiliza as funções dos itens “a” e “b” e imprime os resultados
obtidos.   
d) Uma chamada ao procedimento principal do item “c”.   

>

Com a finalidade de nortear o seu desenvolvimento, são apresentados três exemplos
de entrada e saída a seguir:
Obs.: Tenha atenção às formatações dos resultados na saída.   

Primeiro Exemplo   
Entrada:
Informe a quantidade de dados a ser copiada (em MB): 100   
Informe a capacidade de armazenamento da mídia (em MB): 2   
Faculdade de Computação e Informática   
Informe a velocidade de transferência (em MB/s): 5   
Saída:   
O backup levará 000 horas, 00 minutos e 20 segundos.   
Serão necessárias 50 mídias para armazenar o backup.

Segundo Exemplo   
Entrada:
Informe a quantidade de dados a ser copiada (em MB): 10000
Informe a capacidade de armazenamento da mídia (em MB): 3
Informe a velocidade de transferência (em MB/s): 4
Saída:
O backup levará 000 horas, 41 minutos e 40 segundos.
Serão necessárias 3334 mídias para armazenar o backup.   

Terceiro Exemplo   
Entrada:
Informe a quantidade de dados a ser copiada (em MB): 100000
Informe a capacidade de armazenamento da mídia (em MB): 4
Informe a velocidade de transferência (em MB/s): 3
Saída:
O backup levará 009 horas, 15 minutos e 34 segundos.
Serão necessárias 25000 mídias para armazenar o backup

In [129]:
import time
import math

# Lendo entradas globais:
to_copy_MB = int(input('Informe a quantidade de dados a ser copiada (em MB): '))
capacity_MB = int(input('Informe a capacidade de armazenamento da mídia  (em MB): '))
veloc_MBS = int(input('Informe a velocidade de transferência (em MB/s): '))

# Função A - Cálculo de Tempo necesário
def A(to_copy_MB,veloc_MBS):
    segundos = math.ceil(to_copy_MB / veloc_MBS) #//60
    minutos = to_copy_MB / veloc_MBS #%(60*60)
    horas = to_copy_MB / veloc_MBS #%(60*60)

    sec = time.gmtime(segundos)
    min = time.gmtime(minutos)
    hr = time.gmtime(horas)
    
    return hr.tm_hour, min.tm_min, sec.tm_sec

# Função B - Cálculo de Mídia necesária:
def B(to_copy_MB,capacity_MB):
    midia = math.ceil(to_copy_MB / capacity_MB)
    return int(midia)

# Função Principal
def principal():
    return print(f'O backup levará {A(to_copy_MB,veloc_MBS)[0]} horas, ' 
                                 f'{A(to_copy_MB,veloc_MBS)[1]} minutos e '
                                 f'{A(to_copy_MB,veloc_MBS)[2]} segundos. ' 
        f'Serão necessárias {B(to_copy_MB,capacity_MB)} mídias para armazenar o backup.')

# Chamada do Script
principal()

O backup levará 9 horas, 15 minutos e, 34 segundos. Serão necessárias 25000 mídias para armazenar o backup.

## Aula 2 - Vetores, Matrizes e Listas

**Objetivo da Aula**

Ao final da aula, você será capaz de utilizar vetores, matrizes e listas para organizar estruturas em Python.

In [162]:
import numpy as np

# Lista com 5 elementos
lista = np.array(range(1,6))
lista

array([1, 2, 3, 4, 5])

In [183]:
import numpy as np

# Matriz 2x5
Matriz = np.stack([range(1,6),range(1,6)])
Matriz

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5]])

In [184]:
import pandas as pd

df = pd.DataFrame(Matriz)
df

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5

In [207]:
df.rename(index = {0:'linha_1',
                   1:'linha_2'}, 
                   inplace=True)

In [202]:
df.columns = [f'c_{i+1}' for i in range(len(df.columns))]

In [215]:
df

         c_1  c_2  c_3  c_4  c_5
linha_1    1    2    3    4    5
linha_2    1    2    3    4    5

In [218]:
# Alterando os dados da segunda linha
df.loc['linha_2'] = [6, 7, 8, 9, 10]

In [219]:
df

         c_1  c_2  c_3  c_4  c_5
linha_1    1    2    3    4    5
linha_2    6    7    8    9   10

In [223]:
# Acrescentando uma Coluna
df['c_6'] = [6,11]

In [224]:
df

         c_1  c_2  c_3  c_4  c_5  c_6
linha_1    1    2    3    4    5    6
linha_2    6    7    8    9   10   11

In [225]:
#Acrescentando uma linha
df.loc['linha_3'] = [11, 12, 13, 14, 15, 16]

In [226]:
df

         c_1  c_2  c_3  c_4  c_5  c_6
linha_1    1    2    3    4    5    6
linha_2    6    7    8    9   10   11
linha_3   11   12   13   14   15   16

---

In [ ]:
append
del
extend
in
len
max
min
reverse()
sort()
sum

In [ ]:
L = [1,2,3,4,5]
L.reverse()
print(L)

[5, 4, 3, 2, 1]

In [ ]:
# Faça um Programa que leia seis números inteiros e armazene-os  em um vetor.
# Armazene os números pares no vetor PAR e os números ÍMPARES no vetor  ímpar.
# Imprima os três vetores.

import numpy as np

vetor = [input('Digite 6 números inteiros separados por espaço: ').split()]
for i in vetor:
  if i % 2 == 0:
    vetor_par = vetor_par.append(vetor)
  else:
    vetor_impar = vetor_impar.append(vetor)

print(vetor)
print(vetor_par)
print(vetor_impar)

### Praticando

### Aplicando Conhecimento

----

## Aula 3 -

## Aula 4 -

### Praticando

### Aplicando Conhecimento